@model string
@* Model = Submit button text *@

<div class="form-actions">
    <a asp-action="Index"
       class="btn btn-outline-secondary btn-sm">
        İptal
    </a>

    <button type="submit"
            class="btn btn-primary btn-sm">
        @Model
    </button>
</div>
