@using IzmPortal.Admin.Models.ViewModels

@{
    ViewData["Title"] = "Dashboard";
}

@await Html.PartialAsync(
"_PageHeader",
    new PageHeaderVm
    {
        Title = "Dashboard",
        Subtitle = "Hoş geldiniz"
    }
)

<p class="text-muted">
    Yönetim paneline hoş geldiniz.
</p>

