@{
    ViewData["Title"] = "Slider Yükle";
}

<h2>Yeni Slider</h2>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Başlık (opsiyonel)</label>
        <input name="title"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Resim</label>
        <input type="file"
               name="file"
               class="form-control"
               accept="image/*"
               required />
    </div>

    <div class="mt-3">
        <button class="btn btn-primary">Yükle</button>
        <a asp-action="Index"
           class="btn btn-secondary">
            İptal
        </a>
    </div>
</form>
